language: ruby
cache: bundler
rvm:
  - 2.3
  - 2.4
  - 2.5
  - 2.6 # 2.7 is tested below
gemfile: Gemfile.old # The latest Ruby version uses Gemfile below
script:
  - bundle exec rake test
matrix:
  include:
    - rvm: 2.7
      gemfile: Gemfile
      script:
        - bundle exec rake test
        - bundle exec rubocop
      env:
        - CODE_COVERAGE=true
branches:
  only:
    - main # Always run on the main branch
notifications:
  email: false
